<div id= "main_content" class = "container">
  <h1>How to use Tomayto Tomahto</h1>
  <hr/>

  <!-- full page description -->
  <div class="media">
    <div class="media-body">
      <h3 class="media-heading">Tomayto Tomahto is split into 3 sections</h3>
      <ol>
        <li>The timer</li>
        <li>Task List</li>
        <li>Settings</li>
      </ol>
    </div>
    <div class="media-right">
      <img id = "full-page"class="media-object" src="assets/images/FullPage.png" alt="View of full home page.">
      
    </div>
  </div>

  <!-- Timer description -->
  <div class="media">
    <div class="media-left">
      <img id = "full-page"class="media-object" src="assets/images/FullPage.png" alt="View of full home page.">
      
    </div>
    <div class="media-body">
      <h3 class="media-heading">The Timer</h3>
      
    </div>
  </div>

  <!-- Task list description -->
  <div class="media">
    
    <div class="media-body">
      <h3 class="media-heading">Task List</h3>
      
    </div>
    <div class="media-right">
      <img id = "full-page"class="media-object" src="assets/images/FullPage.png" alt="View of full home page.">
      
    </div>
  </div>

  <!-- Settings description -->
  <div class="media">
    <div class="media-left">
      <img id = "full-page"class="media-object" src="assets/images/FullPage.png" alt="View of full home page.">
      
    </div>
    <div class="media-body">
      <h3 class="media-heading">Settings</h3>
      
    </div>
  </div>
  <h3></h3>
</div>
